# vim: ft=conf:

# Hostname: {{ .chezmoi.hostname }}

font_family	{{ if eq .chezmoi.hostname "AS0374CD6G" }}JetBrainsMono Nerd Font Mono{{ else }}JetBrainsMono NF Thin{{ end }}
{{ if ne .chezmoi.hostname "AS0374CD6G" -}}
italic_font	JetBrainsMono NF Thin Italic
bold_font	JetBrainsMono NF Light
bold_italic_font	JetBrainsMono NF Light Italic
{{ end -}}
font_size	{{ if eq .chezmoi.hostname "trebek" }}10{{ else if eq .chezmoi.hostname "AS0374CD6G" }}14{{ else }}11.5{{ end }}

# Window margins
window_padding_width 8

# Theming
background_opacity {{ if eq .chezmoi.hostname "AS0374CD6G" }}0.97{{ else if eq .chezmoi.hostname "milchick" }}0.96{{ else }}0.9{{ end }}

# Ctrl-shift-n opens new kitty window in the current working directory
map ctrl+shift+n launch --cwd=current --type=os-window


# BEGIN_KITTY_THEME
# Gruvbox Dark
include current-theme.conf
# END_KITTY_THEME

