# vim: ft=conf:

# Fonts
font_family	Iosevka Nerd Font
font_size	{{ if eq .chezmoi.hostname "trebek" }}11.5{{ else }}12.5{{ end }}

# Window margins
window_padding_width 8

# Theming
background_opacity 0.9

# Ctrl-shift-n opens new kitty window in the current working directory
map ctrl+shift+n launch --cwd=current --type=os-window


# BEGIN_KITTY_THEME
# Gruvbox Dark
include current-theme.conf
# END_KITTY_THEME

