# vim: ft=conf:

# Hostname: {{ .chezmoi.hostname }}

font_family	JetBrainsMono Nerd Font
font_size	{{ if eq .chezmoi.hostname "trebek" }}10{{ else if eq .chezmoi.hostname "AS0374CD6G" }}13{{ else }}11.5{{ end }}

# Window margins
window_padding_width 8

# Theming
background_opacity {{ if eq .chezmoi.hostname "AS0374CD6G" }}0.97{{ else }}0.9{{ end }}

# Ctrl-shift-n opens new kitty window in the current working directory
map ctrl+shift+n launch --cwd=current --type=os-window


# BEGIN_KITTY_THEME
# Gruvbox Dark
include current-theme.conf
# END_KITTY_THEME

